@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

.abol__widget-container {
    background: #222;
    color: #FFF;
    border-bottom: 2px solid #e8c52c;
    border-top: 1px solid #e8c52c;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.abol__widget-heading {
    padding: 10px;
}

.abol__widget-group-shortname {
    color: #e8c52c;
    font-size: 18px;
}

.abol__widget-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li, .widget ol li {
    border-top: none;
    border-bottom: none;
}

.abol__widget-item {
    padding: 3px 0px;
}

.abol__widget-item:last-child {
    padding-bottom: 12px;
}

.abol__widget-item::after {
    display: table;
    clear: both;
    content: '';
}

.abol__widget-item .icon {
    margin-right: 8px;
    margin-bottom: 14px;
    width: 22px;
    float: left;
}

.abol__widget-item .icon::after {
    font-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 45px;
    font-family: 'FontAwesome';
    content: '\f145';
}

.abol__widget-body-container {
    padding: 0px 8px;
    margin-top: 8px;
}

.abol__widget-footer {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #e8c52c;
}

.abol__widget-button {
    padding: 8px 10px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    background: #e8c52c;
    border: 1px solid #A18612;
    transition: all 0.25s;
    width: 100%;
    display: block;
    font-size: 16px;
}

.abol__widget-button:hover {
    background: #a18612;
    color: #FFF;
}

.abol__widget-button:active {
    background: #73600d;
}

.fullwidth-title {
    width: 100%;
    font-size: 16px;
    color: #e8c52c;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e8c52c;
}

.halfwidth-title {
    font-size: 16px;
    color: #e8c52c;
    margin-bottom: 5px;
    margin-top: 0px;
}

.halfwidth-title > .bordered {
    padding-bottom: 5px;
    border-bottom: 1px solid #e8c52c;
}

.description {
    margin-bottom: 5px;
}

.performance-title {
    display: block;
    font-size: 18px;
}

.performance-title.unavailable {
    color: #777;
}

.performance-title .availability {
    white-space: pre;
    display: block;
    line-height: 10px;
    margin-left: 30px;
    font-size: 14px;
}

.performance-title > .availability.low {
    color: #E8812C;
}

.image-link:after {
    display: table;
    clear: both !important;
    content: "";
}

.abol__widget-strapline, .abol__widget-group-shortname {
    display: block;
    width: 100%;
}