.current_img {
    max-width: 35%;
    padding: 1px;
    background: #f4f4f4;
    border-radius: 3.7px;
    border: 2px solid #cccccc;
    cursor: pointer;
    transition: all 0.2s;
}

.current_img:hover {
    border-color: #999999;
}